body {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode";
}

/* CLICK TO LOAD */
#click {
	text-align: center;
}

.click-area:hover {
	cursor: pointer;
}

#click-text {
	font-size: 18px;
	margin: 40px auto -6px auto;
}

#load-image {
	display: block;
	height: 400px;
	width: 400px;
	margin: 0px auto 20px auto;
	border-radius: 10px;
}