body {
	width: 100%;
	margin: 0 auto;
	background-color: #fed766;
}

/*NAV BAR*/

#nav {
	width: 100%;
	height: 60px;
	background-color: #2ab7ca;
	position: fixed;
	margin: 0;
	display: block;
	z-index: 1;
}

#nav-links {
	font-size: 1em;
	list-style-type: none;
	text-align: center;
	padding: 0;
}

li {
	display: inline;
	margin: auto 10px;
}

.nav-link {
	color: #f4f4f8;	
	text-decoration: none;
	font-family: 'Gloria Hallelujah';
}

.nav-link:hover {
	border-bottom: 2px solid #FE4A49;
	color: #fed766;
}

/*ALTERNATIVE TEXT FOR MOBILE*/
#mobile-text {
	display: none;
}

/*MAIN CONTENT*/

#main-content {
	width: 100%;
	min-width: 320;
	margin: 0;
	position: relative;
	top: 60px;
	z-index: 0;
}


.images {
	float: left;
	width: 20%;
	min-width: 40px;
	margin: -2px;
	padding: 0;
	border: 2px solid transparent;
	transition: border-radius .15s ease;
}

.images:hover {
	border: 2px solid #2ab7ca;
	border-radius: 50%;
}


/*MEDIA QUERIES*/


/*Very Large Screens*/
@media (min-width: 1400px) {
	.images {
		width: 10%;
	}
}

/*Mid Size Screens*/
@media (min-width: 501px) and (max-width: 720px) {
	.images {
		width: 33.333333333%;
	}
}

/*Mobile Screens*/
@media (max-width: 500px) {
	#nav {
		height: 45px;
	}

	#main-content {
		top: 45px;
	}

	.images {
		margin: 0;
		border: none;
		width: 50%;
	}

	.images:hover {
		border: none;
		border-radius: 0;
	}

	#nav-links {
		display: none;
	}

	#mobile-text {
		display: block;
		font-family: 'Gloria Hallelujah';
		text-align: center;
		color: #fed766;
		margin: 0;
	}
}