<!DOCTYPE html>
<html lang="en" ng-app="instagramApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Let me see your pitties</title>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="https://raw.githubusercontent.com/BinaryMuse/ngInfiniteScroll/1.0.0/build/ng-infinite-scroll.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MyCtrl">



<div id="main-content"
	<!-- Click to Load -->
	<div id="click">
		<h4 ng-click="onSubmit()" class="click-area" id="click-text">Click me to see pitties!</h4>
		<img ng-click="onSubmit()" src="images/edthepit.jpg" class="click-area" id="load-image">
	</div>

	<!-- IMAGES -->
	<div id="images">
		<div ng-repeat="image in images">
			<a href='{{image.link}}' target="_blank"><img ng-src='{{image.images.low_resolution.url}}'/></a>
		</div>
	</div>

	
</body>
</html>