body {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode";
}

/* CLICK TO LOAD */

#click {
	text-align: center;
}

#clicktext {
	font-size: 18px;
	margin: 40px auto -6px auto;
}

#loadimage {
	display: block;
	height: 200px;
	width: 200px;
	margin: 0px auto 0px auto;
	border-radius: 10px;
}

.input {
	text-align: center;
	width: 80%;
	display: block;
	margin: 20px auto;
}

#input-box {
	width: 150px;
}

#submit {
	width: 60px;
	height: 20px;
	border-radius: 5px;
	color: firebrick;
}

#submit:hover {
	border: 2px solid firebrick;
	cursor: pointer;
}

#feedback {
	margin-top: -10px;
}