body {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode";
}

/* CLICK TO LOAD */

#click {
	text-align: center;
}

.clickarea:hover {
	cursor: pointer;
}

#clicktext {
	font-size: 18px;
	margin: 40px auto -6px auto;
}

#loadimage {
	display: block;
	height: 200px;
	width: 200px;
	margin: 0px auto 0px auto;
	border-radius: 10px;
}